html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#scene {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    }
    
#blocker {
    display: none;
    position: fixed;
    top: -50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(66, 69, 77, 0.74);
}
#instructions{
    position: absolute;
    font-family: "Inter", sans-serif;
    display: none;
    top: 35%;
    left: 40%;
    width:30%;
    height: 8%;
    font-weight:520;
}

#menu{
    top: -50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    background-color: rgba(213, 220, 224, 0.705);
    display: block;
    position: fixed;
    animation-duration:25s;
    animation-name: menuAnimation;
    } 
@keyframes menuAnimation {
    from {background-color:rgba(0, 0, 0, 0.986);} to {background-color: rgba(213, 220, 224, 0.705);}
}  

#title{
    font-weight: 750px;
    font-size: 165px; 
    padding:70px;
    letter-spacing:0.5cm;
    -webkit-background-clip: text;
	background-clip: text;
	background-image: url('textBackground.jpg');
	color: transparent;
    animation-duration:5s;
    animation-name: titleAnimation;
    } 
@keyframes titleAnimation {
    from {font-size: 0px;} to {font-size: 165px;}
}

#loadingScreen{
    opacity: 0;
    animation-delay: 5s;
    animation: loadingScreenAnimation 5s ease-in forwards;
}
@keyframes loadingScreenAnimation{
    to {opacity:1;}
}


#playButton{
    font-family: "Inter", sans-serif;
    border-width: 5px;
    border-color:rgb(89, 186, 195);
    font-size:60px;
    font-weight:300;
    padding:5px;
    background-image: url("breakingIcePlayButton.jpg");
    } 
#playButton:hover{
    font-weight:550;
}

#selectLevel{
    font-family: "Inter", sans-serif;
    border-style: outset;
    font-size:15px;
    font-weight:300;
    padding:5px;
    border-width: 5px;
    border-color:rgb(89, 186, 195);
    background-image: url("breakingIcePlayButton.jpg");
    } 
#selectLevel:hover{
    font-weight:550;
}

#playButtonlvl1{
    position: absolute;
    display:none;
    font-family: "Inter", sans-serif;
    border-style: outset;
    left: 685px; 
    top: 420px;
    font-size:15px;
    font-weight:300;
    padding:5px;
    border-width: 5px;
    border-color:rgb(89, 186, 195);
    background-image: url("breakingIcePlayButton.jpg");
    } 
#playButtonlvl1:hover{
    font-weight:550;
}
#playButtonlvl2{
    position: absolute;
    display:none;
    font-family: "Inter", sans-serif;
    border-style: outset;
    left: 785px;
    top: 420px;
    font-size:15px;
    font-weight:300;
    padding:5px;
    border-width: 5px;
    border-color:rgb(89, 186, 195);
    background-image: url("breakingIcePlayButton.jpg");
    } 
#playButtonlvl2:hover{
    font-weight:550;
}
    
#movementKeys{
    font-size: 30px;
    }

#countScore{
    display:none;
    font-family:monospace;
    font-style: oblique;
    font-size: 40px;
    font-weight: 900;
    text-align:left;
    }
#drawScore {
    position: absolute;
    top: 8%;
    left:2%;
    width:12%;
    height: 8%;
    }
#drawCoin {
    position: absolute;
    top: 8%;
    left: 82%;
    width:12%;
    height: 8%;
    }
#score{
    position: absolute;
    top: 2%;
    left: 150px;
    width:12%;
    height: 8%;
}
#coins{
    position: absolute;
    top: 2%;
    left: 85%;
    width:12%;
    height: 8%;
}

#level2{
    position: absolute;
    font-family: "Inter", sans-serif;
    display: none;
    top: 35%;
    left: 40%;
    width:30%;
    height: 8%;
    font-size:100px;
    font-weight:520;
    animation-duration:5s;
    animation-name: level2Animation;
}
@keyframes level2Animation {
    from {font-size: 0px;} to {font-size: 100px;}
    from {color: rgb(20, 109, 168);} to {color: rgb(7, 33, 58);}
}
#win{
    position: absolute;
    font-family: "Inter", sans-serif;
    display: none;
    top: 35%;
    left: 40%;
    width:30%;
    height: 8%;
    font-size:100px;
    font-weight:520;
    animation-duration:5s;
    animation-name: winAnimation;
}
@keyframes winAnimation {
    from {font-size: 0px;} to {font-size: 100px;}
    from {color: rgb(20, 109, 168);} to {color: rgb(7, 33, 58);}
}


#pauseGame{
    display:none;
    position: absolute;
    border-color: transparent;
    background-color: rgb(154, 196, 200);
    border-radius: 10px;
    font-weight: 300;
    left:2%;
    top: 2%;
    width:3%;
    height: 4%;
    font-size:17px;
}
#pauseGame:hover{ background-color: rgb(128, 202, 211);
                  font-size:18px;
}
#continueGame {
    display:none;
    position:absolute;
    font-family: "Inter", sans-serif;
    left:35%;
    top: 30%;
    font-size:60px;
    font-weight:300;
    padding:5px;
    border-width: 5px;
    border-color:rgb(14, 173, 187);
    background-image: url("breakingIcePlayButton.jpg");
    } 
#continueGame:hover{
    font-weight:550;
}
#exitGame {
    display:none;
    position: absolute;
    font-family: "Inter", sans-serif;
    left:55%;
    top: 30%;
    font-size:60px;
    font-weight:300;
    padding:5px;
    border-width: 5px;
    border-color:rgb(14, 173, 187);
    background-image: url("breakingIcePlayButton.jpg");
    } 
#exitGame:hover{
    font-weight:550;
}